/* ===============================
   VISTA NORMAL (pantalla)
   =============================== */

/* Ocultar vista de impresión en pantalla */
#vistaImpresion {
  display: none;
}


/* ===============================
   IMPRESIÓN
   =============================== */
@media print {

  /* Ocultar TODO lo que no sea impresión */
  body * {
    visibility: hidden !important;
  }

  /* Mostrar solo la vista de impresión */
  #vistaImpresion,
  #vistaImpresion * {
    visibility: visible !important;
  }

  /* Posicionar impresión correctamente */
  #vistaImpresion {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
  }

  /* Quitar márgenes del navegador */
  @page {
    size: A4;
    margin: 20mm;
  }

  /* Estilos de tablas impresión */
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }

  th, td {
    border: 1px solid #000;
    padding: 6px;
    text-align: left;
  }

  th {
    background: #f2f2f2;
  }

  h2, h4 {
    margin-top: 20px;
  }
}
#codigo-lote { left: 150mm; top: 32mm; }


